@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #FDD29B;
    padding: 0;
    margin: 0;
}
/* Navigation Css */
nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    gap: 670px;
    background-color: #964B00;
    color: white;
    text-transform: capitalize;
    height: 92px;
    width: 100%;
    z-index: 100;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
    width: 20%;
}
.logo {
    width: 96px;
    height: 78px;
    border-radius: 84.5px;
    top: 5px;
}
/****************************************/

