@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #FDD29B;
    padding: 0;
    margin: 0;
}
/* Navigation Css */
nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    gap: 670px;
    background-color: #964B00;
    color: white;
    text-transform: capitalize;
    height: 92px;
    width: 100%;
    z-index: 100;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
    width: 20%;
}
.logo {
    width: 96px;
    height: 78px;
    border-radius: 84.5px;
    top: 5px;
}
/****************************************/

/* Menu List Card "Home Page" */
.menu {
    margin-top: 25px;
    background-color: rgba(151, 151, 151, 0.25);
    width: 100%;
    height: 348px;
}
.menu-list {
    position: relative;
    width: 100%;
    height: 70%;
    /* background-color: aqua; */

    display: flex;
    justify-content: space-around;
    align-items: end;
}
.menu-card, img, a {
    position: relative;
    width: 286px;
    height: 194px;
    /* background-color: rgb(10, 12, 12); */
}
.menu-card:hover {
    border: solid white 2px;
}
.text {
    position: relative;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 0;
    margin: 0;
}

.text p {
    font-size: 24px;
    margin: 0;
    padding: 0;
    padding-left: 100px;
    padding-right: 100px;
    border-bottom: solid 2px black;
}

.text button {
    background-color: #BA7A3A;
    width: 160px;
    height: 64px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
/***********************************************/

/*Brews & Buns*/
.text2 {
    /* background-color: brown; */
    height: 348px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.text2 h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
}
.text2 p {
    font-size: 24px;
}

/*Footer*/
.footer {
    background-color: #964B00;
    height: 92px;
    width: 100%;
    bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 800px;
}
.social-media img, a {
    width: 34px;
    height: 36px
}
.social-media {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(66, 1, 151); */
    width: 150px;
    height: 36px;
}

/*Visit us page*/

/************************************/
